$inputBorderColor: #000;
$inputTextColor: #000;
$dangerBackgroundColor: #f44336;
$dangerTextColor: #fff;
$headerTextColor: #8b8b8b;
$commonTextColor: #9f9f9f;
$buttonBorderColor: #000;
$successBackgroundColor: #66bb6a;

$borderRadius: 3px;

:export {
  inputBorderColor: $inputBorderColor;
  inputTextColor: $inputTextColor;
  dangerBackgroundColor: $dangerBackgroundColor;
  dangerTextColor: $dangerTextColor;
  headerTextColor: $headerTextColor;
  commonTextColor: $commonTextColor;
  borderRadius: $borderRadius;
  buttonBorderColor: $buttonBorderColor;
  $successBackgroundColor: $successBackgroundColor;
}
