@import "../scss/_variables";

.container {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 335px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  padding: 10px;
  border-radius: $borderRadius;
  position: relative;
}
